.cluster {
	@extend .generic-box;
	display: flex;
	justify-content: space-between;
	@media ( max-width: $phablet ){
		flex-wrap: wrap;
		justify-content: center;
	}

	.cluster-box-img {
		min-width: $cluster-box-img-width;
		position: relative;
		@media ( max-width: $phablet ){
			margin-bottom: $spacer-s;
			text-align: center;
			width: 100%;
		}

		img {
			@media ( min-width: $phablet + 1){
				float: left;
			}
		}

		.cluster-nav-img {
			.prev, .next {
				color: white;
				font-size: $spacer-l;
				//margin-top: $spacer-xxl * -1; // TODO: Matt (deberia atarlo al alto dinamico del box)
				position: absolute;
				top: $cluster-nav-pos;
				cursor: pointer;

				&:before {
					background-color: $link-color;
				    @include border-radius(50%);
				    @include box-shadow(0,0,0,3px,white,inset);
				    padding: 0 2px;
				}
			}
			.prev {
				left: $spacer-xs;
			}
			.next {
				right: $spacer-xs;
			}
		}
	}
	.cluster-box-center {
		margin: 0 $spacer-s;
		width: $cluster-box-center-width;
		@media ( max-width: $phablet ){
			border-bottom: 1px dashed $border-color;
			margin-bottom: $spacer-s;
			padding-bottom: $spacer-s;
			width: 100%;
		}

		.cluster-title {
			font-size: $font-size-small + 2;
			margin: 0 0 $spacer-xs;
			a {
				color: $cluster-title-color;
			}
			&:hover {
				a {
					color: $cluster-title-color-hover;
				}
			}
		}
		.cluster-stars {
			color: $stars-color;
			margin-bottom: $spacer-s;
		}
		.meal-plan {
			color: $meal-plan-color;
			margin-bottom: $spacer-s;

			span {
				font-weight: bold;
			}
		}
		.amenities {
			font-size: $amenities-font-size;
			i {
				margin-right: $spacer-xs;
			}
		}
	}
	.cluster-box-price {
		border-left: 1px dashed $grey;
		padding: 0 $spacer-l;
		text-align: center;
		width: $cluster-box-price-width;
		@media ( max-width: $mobile ){
			padding: 0 $spacer-s;
		}
		@media ( max-width: $phablet ){
			border: none;
			width: 100%;
		}

		.box-price {
			margin-bottom: $spacer-xs;
			.text {
				margin: 0 0 $spacer-xs;
				font-size: $font-size-xsmall - 1;
			}
			.regular-price {
				color: $regular-price-color;
				font-size: $regular-price-size;
				margin-bottom: $spacer-xs + 3;

				.price {
					font-size: $regular-price-size + 8;
				}
			}
		}
		.show-article {
			margin-bottom: $spacer-xs;
		}
		.payment-methods {
			font-weight: bold;
			.text {
				margin: 0 0 $spacer-xs;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	.cluster-stars-bar {
		background: url('../img/stars-bar.png') 0 0 repeat;
		display: inline-block;
		height: $stars-bar-height;
		width: $stars-bar-width;

		$ancho: $star-fill-width;
		@for $i from 0 through 5{
			&.star-fill-#{$i} {
				width: $ancho * $i;
			}
		}

		/*
		&.star-fill-0 { width: 0; }
		&.star-fill-1 { width: $star-fill-width * 1; }
		&.star-fill-2 { width: $star-fill-width * 2; }
		&.star-fill-3 { width: $star-fill-width * 3; }
		&.star-fill-4 { width: $star-fill-width * 4; }
		&.star-fill-5 { width: $star-fill-width * 5; }
		*/
	}
}
