.filters-title {
	margin-bottom: $spacer-xs;

	@media ( max-width: $mobile ){
		@include clean-link-box;
	}
}
.filter-header {
	@include transitions(transition, color $animation-speed);
	color: $link-color;
	font-size: $font-size-small;
    font-weight: bold;
    margin-bottom: $spacer-s;

	i:first-child {
		padding-right: $spacer-xs;
	}

	&:hover {
		color: $link-color-hover;
		cursor: pointer;
	}
}
.filter-footer {
	.buttons-set {
		align-items: center;
		display: flex;
		justify-content: space-between;

		input {
			width: 100%;
		}
		.btn {
			margin-left: $spacer-s;
		}
	}
}
// Stars filter
.filter-stars-cont {

	label {
	    align-items: center;
		display: flex;
		padding: $spacer-s 0;


		input {
			margin-right: $spacer-xs;

			&:checked ~ .result-qty {
				font-weight: bold;
			}
		}
		.box-stars {
			margin-right: $spacer-xs;

			i {
				color: $stars-color;
			}
		}
		.result-qty {

		}
	}
}
