.generic-box {
	@include box-shadow(0, 1px, 3px, 0, $grey);
	background-color: white;
	margin-bottom: $spacer-s;
	padding: $spacer-s;

	&.no-padding {
		padding: 0;
	}
	&.no-margin {
		margin: 0;
	}
	&.box-glued {
		border-bottom: $border-m solid $grey-light;
	}
}

@mixin clean-link-box {
	@include box-shadow(0,0,0,0,transparent);
	background: none;
	border: none;
	border-bottom: 1px solid $border-color;
	color: $link-color;
	cursor: pointer;
	font-size: $font-size-medium - 2;
	font-weight: normal;
	margin: 0;
	padding: $spacer-m $spacer-xs;
	text-align: center;
}
.clean-link-box {
	@include clean-link-box;
}

// Dropdown
@mixin dropdown {
	display: none;
}
@mixin dropdown-active {
	display: block;
}
@mixin dropdown-colapse {
	display: none;
}
@mixin dropdown-colapse-active {
	display: block;
}
@mixin dropdown-icon-active {
	@include transform(rotate(180deg));
	@include transition(transform $animation-speed ease-in-out);
}



[data-drop-trigger] {

	&.active {
		@include dropdown-active;

		[data-drop-icon] {
			@include dropdown-icon-active;
		}
	}
}
[data-drop-colapse] {
	//@include dropdown-colapse;

	&.closed {
		@include dropdown;
	}
	&.active {
		@include dropdown-colapse-active;
	}
}
