.site-header {
	background: url('/search-result/dist/img/site-bkg.jpg') center top no-repeat;
	background-size: cover;
	@media ( min-width: $mobile + 1){
		margin-bottom: $spacer-s;
	}

	a, .item {
		color: white;
	}

	.header-top {
		@media ( max-width: $mobile ){
			padding-left: $spacer-s;
			padding-right: $spacer-s;
		}
		.header-top-inner {
			align-items: center;
			display: flex;
			justify-content: space-between;
			padding: $header-top-spacer 0;

			.site-logo {
				@include transitions(transition, opacity $animation-speed);

				&:hover {
					opacity: .8;
				}

				img {
					float: left;
				}

				@media ( max-width: $mobile ){
					max-width: 100px;
				}
			}

			//User navigation
			.user-nav {
				ul {
					float: right;
					li {
						border-left: 1px solid white;
						float: left;
						padding: 0 $header-user-navlist-spacer;

						.item {
							@include transitions(transition, color $animation-speed);

							&:hover {
								color: $primary-color;
							}

							> i {
								margin: 0 $spacer-xs;
							}

							&.club-almundo {
								img {
									height: $clubalmundo-height;
								}
							}
						}

						&:first-child {
							border-left: none;
						}
					}
				}
			}
			.user-nav.mobile {
				color: white;
    			font-size: $font-size-large - 4;
    			padding: $spacer-xs 0;

    			.icon {
    				float: left;
    				margin: 0 $spacer-s;
    			}
			}
		}

	}
	.header-bottom {

		@media only screen and ( min-width: $mobile + 1 ){//Styles only for desktop
			// Site navigation
			@include bg-opacity(white, 0.1);
			border-top: 1px solid rgba(white, .4);

			@media only screen and ( max-width: $mobile ){
				display: none;
			}

			.site-nav {
				ul {
					display: flex;
			    	justify-content: center;

					li {
						.item {
							font-size: $sitenav-font-size + 1px;
							font-weight: bold;
						    float: left;
						    padding: $sitenav-link-padding $sitenav-link-padding;
						    @include transitions(transition, background-color $animation-speed);

						    &:hover {
								background-color: $sitenav-link-hover;
							}
						}
					}
				}
			}
		}
		@media only screen and ( max-width: $mobile ){// Styles only for mobile
			display: none;
			.site-nav {
				ul {
					li {
						float: left;
						width: 100%;
						.item {
							background-color: white;
							border-bottom: 1px solid $border-color;
							color: $grey-dark;
							float: left;
							padding: $spacer-s;
							width: 100%;
						}
					}
				}
			}

		}

	}
}

@import 'hamburger';
