.order-box {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	margin-bottom: $spacer-s;

	@media ( max-width: $mobile ){
		justify-content: center;
	}

	.order-box-title {
		padding-right: $spacer-xs;
	}
	.order-box-select {

	}
}
