.searchbox {
	border: 1px solid $border-color;
	margin-bottom: $spacer-s;
	padding: $searchbox-padding;

	@media ( max-width: $mobile ){
		@include clean-link-box();
	}

	.searchbox-title {
		font-weight: normal;
		font-size: $font-size-base;
		margin: 0 0 $spacer-s;
	}
	.searchbox-data {
		.searchbox-data-list {
			display: flex;
			float: left;

			li {
				padding-right: $spacer-m;
				i {
					margin-right: $spacer-xs;
				}
			}
		}
		.link {

		}
	}
}
