// global Spacers
$spacer-xs:						5px;
$spacer-s:						10px;
$spacer-m:						15px;
$spacer-l:						20px;
$spacer-xl:						25px;
$spacer-xxl:					30px;


// Breackpoints
$phone:							320px !default;
$phablet:						700px !default;
$tablet:						980px !default;
$mobile:						1024px !default;
$desktop:						1360px !default;

// Global borders
$border-m:						$spacer-xs - 2;

// Animation globals
$animation-speed:				.3s;

// Palette
$orange:						#df6800 !default;
$cyan:							#2671dd !default;
$cyan-light:					lighten( $cyan, 20% );
$blue:							#002c77 !default;
$blue-dark:						darken( $blue,  20% );
$grey-light:					#f4f4f4 !default;
$grey:							#cccccc !default;
$grey-dark:						#444444 !default;
$gold:							#fdba12 !default;
$green:							#509e3c !default;
$green-dark:					darken( $green, 20% );

// Site Colors
$primary-color:					$orange !default;
$secondary-color:				$blue !default;
$terciary-color:				$blue-dark !default;
$body-bg-color:					$grey-light;
$link-color:					$cyan !default;
$link-color-hover:				$cyan-light !default;

$border-color:					$grey;
$font-base-color:				$grey-dark;

// Site font
$font-size-base:				16px !default;
$font-size-xsmall:				ceil($font-size-base * 0.6) !default; // ~10px
$font-size-small:				$font-size-base * 0.75 !default; // ~12px
$font-size-medium:				$font-size-base * 1 !default; // ~16px
$font-size-large:				$font-size-base * 1.5 !default; // ~24px

$site-font-family:				'Roboto', sans-serif;
$site-font-size:				$font-size-small;


/// Global variables to enable or disable vendor prefixes
$prefix-for-webkit:          true !default;
$prefix-for-mozilla:         true !default;
$prefix-for-microsoft:       true !default;
$prefix-for-opera:           true !default;
$prefix-for-spec:            true !default;

// Forms
$select-color:					$grey-dark;
$generic-inputs-height:			23px;
$generic-inputs-height-mobile:	37px;

// Buttons
$btn-base-bg:					$secondary-color;
$btn-base-color:				white;
$btn-base-color-hover:			$link-color;
$btn-base-radius:				2px;
$btn-shadow-color:				$terciary-color;

//Header
$header-top-spacer:				$spacer-s;
$header-user-navlist-spacer:	$spacer-s;
$clubalmundo-height:			$spacer-s;
//site navigation
$sitenav-font-size:				$font-size-small;
$sitenav-link-padding:			$spacer-s;
$sitenav-link-hover:			rgba(black,.5);

//Content
$content-spacer:				$spacer-s;

//Breadcrumb
$breadcrumb-f-size:				$font-size-xsmall;

//Searchbox
$searchbox-padding:				$spacer-m;

// Filters
$stars-color:					$gold;

// Cluster product
$cluster-title-color:			$grey-dark;
$cluster-title-color-hover:		$link-color;
$meal-plan-color:				$primary-color;
$amenities-font-size:			$font-size-medium;
$regular-price-color:			$primary-color;
$regular-price-size:			$font-size-medium + 4;
$cluster-box-img-width:			244px;
$cluster-box-center-width:		50%;
$cluster-box-price-width:		30%;
$cluster-nav-pos:				70px;
$stars-bar-height:				12px;
$stars-bar-width:				76px;
$star-fill-width:				16px;

// Flags
// Flags Colors
$recomendado-color:				$link-color;
$off-color:						$green;
$off-color-caret:				$green-dark;

// Range slider
$range-bar-bg:					$grey;
$range-bar-active-bg:			$grey-dark;
$range-grab-height:				2.2em;
$range-grab-width:				1.1em;
$range-grab-radius:				50px;
